.projects-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  gap: 45px;
  padding: 100px 50px 100px 50px;
  background: linear-gradient(
    0deg,
    rgba(52, 62, 109, 0.8) 5%,
    rgb(7, 22, 44) 60%
  );
}
.project-card {
  /* width: 350px; */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(49, 14, 14, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 300px;
  display: flex;
  /* flex-direction: column; */
  justify-content:space-evenly;
  &:hover {
    transform: scale(1.05);
  }
  padding: 25px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: whitesmoke;
}
.project-images {
  display: flex;
  flex: 1;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}
.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-body {
  flex: 1;
  margin: 10px;
  padding: 10px;
  /* background-color: rgb(19, 18, 18); */
  box-shadow: 0 4px 8px rgba(119, 118, 118, 0.1);
}
.project-name {
  font-size: 1rem;
  margin-bottom: 10px;
  color: black;
}

.project-description {
  margin-bottom: 15px;
  color: black;
}

.project-languages {
  font-size: 0.9rem;
  color: black;
  border-radius: 10px;
}
.lang-btn-text {
  padding: 3px;
  margin-left: 5px;
  background-color: blue;
  border-radius: 10px;
}

.lang-demo {
  display: flex;
  justify-content: space-between;
}
.lang-btn-demo{
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 481px) {
  .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 200px;
    height: 350px; */
  }
  .project-body {
    margin-top: 10px;
  }
}
@media screen and (max-width: 720px) {
  .project-card {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 350px;
    flex-wrap: nowrap;
  }
}
