.App {
  width: 100%;
  height: 100%;
}
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body-wrapper {
  display: flex;
  flex: 1; /* the body-wrapper div takes the whole space remaining from navbar and footer*/
}
.body-wrapper > * {
  flex: 1;
}
#menu {
  padding: 50px;
  z-index: 3;
}

.bg-menu {
  /* background-color: black; */
  background: linear-gradient(0deg, rgb(0, 2, 5) 100%, rgba(0, 3, 8, 0.2) 100%);
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.5);
}


.body-content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  background-color: whitesmoke;
}

.home-intro {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  /* background-color: #03080f; */
  background: linear-gradient(0deg, rgb(0, 2, 5) 35%, rgba(0, 3, 8, 0.5) 100%);
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
}

.home-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.job-title {
  font-size: 30px;
}
.contact-emails {
  display: flex;
  justify-content: center;
  color: darkgray;
}

.my_photo {
  width: 350px;
  height: 300px;
  border-radius: 50px;
  background-color: rgb(197, 238, 14);
}

.home-about {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding-bottom: 100px;
}

.home-about-heading {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  padding-top: 100px;
}

.home-about-description {
  padding-left: 100px;
  padding-right: 100px;
  font-size: large;
}

.home-services {
  display: flex;
  flex-direction: column;
  background-color: #141e2c;
  color: white;
  padding-bottom: 100px;
}

.home-services-heading {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  padding-top: 100px;
}

.home-services-description {
  display: flex;
  justify-content: center;
}

.home-service-lists {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  gap: 30px;
}

.service-item {
  margin-bottom: 30px;
}

.service-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.service-item p {
  font-size: 16px;
  color: white;
}

.blogs {
  display: flex;
  flex-direction: column;
}
.blogs-description {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 30px;
}

.blogs-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-style: italic;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 50px;
}

.blogs-list a {
  text-decoration: none;
}

.home-projects {
padding-bottom: 20px;
margin-bottom: 10px;  
}
.home-projects-heading {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  padding-top: 0px;
  padding-bottom: 0px;
  color: black;
}
.home-publications{
  background-color: white;
  margin-top: 0px;
}
.home-publications-heading{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  padding-top: 50px;
  color: black;
}
.home-contact {
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(0deg, rgb(0, 2, 5) 100%, rgba(0, 3, 8, 0.2) 100%);
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.5);
}

.home-contact-heading {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  padding-top: 25px;
}
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding-bottom: 25px;
}
@media screen and (max-width: 720px) {
  .home-intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding-bottom: 25px;
    padding-top: 80px;

  }
  .my_photo {
    height: 150px;
    width: 150px;
  }
  .job-title {
    font-size: 10px;
    padding: 0px 10px 0px 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .about-myself {
    font-size: 10px;
  }
  .home-about {
    padding-bottom: 50px;
  }
  .home-services {
    padding-bottom: 25px;
  }
  .home-service-lists {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: small;
  }
  .service-item h2 {
    font-size: 14px;
  }
  .service-item p {
    font-size: 12px;
  }
  .home-about-heading {
    padding-top: 50px;
    font-size: 25px;
  }
  .home-about-description {
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
  }
  .home-services-heading {
    padding-top: 50px;
    font-size: 25px;
  }
  .home-services-description {
    padding-left: 35px;
    padding-right: 35px;
    font-size: small;
  }
  .blogs-description {
    font-size: 20px;
    text-align: center;
  }
  .blogs-list {
    font-size: 20px;
  }

  .home-projects-heading{
    font-size: 25px;
  }
  .home-publications-heading{
    font-size: 25px;
  }
  .home-contact-heading {
    padding-top: 30px;
    font-size: 35px;
  }
  .contact-icons {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 769px) {
  .job-title {
    font-size: 20px;
  }
  .my_photo {
    width: 250px;
    height: 250px;
  }
}
